body {
  background-color: rgb(1, 1, 1);
  font-family: "Nunito", sans-serif;
  color: white;
  min-height: 100vh;
  margin: 0;
}

div {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.personalizeButton {
  justify-content: center;
  display: flex;
}

.input-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.input-container input {
  margin-bottom: 20px;
  margin-right: 30px;
  border: none;
  border-radius: 0px;
  height: 50px;
  color: white;
  box-shadow: 0px 0px 15px rgb(63, 63, 63);
  border: solid 2px rgb(63, 63, 63);
  width: 110%;
  padding-left: 10px;
  text-align: start;
  font-size:15px;
  font-family: "Nunito", sans-serif;
  background-color: rgb(36, 36, 36);
}

.input-container input:focus {
  outline: none;
}

.input-container input::selection {
  background-color: rgba(255, 255, 255, 0.363);
}

/* Cambia il colore del caret in Firefox */
.input-container input::-moz-selection {
  background-color: rgba(255, 255, 255, 0.363);
}

.text-container {
  font-size: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 4%;
}

.secondText {
  font-size: 70%;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

.canvas {
  margin-left: 300px;
  object-fit: fill;
  flex-direction: column;
}

.canvas canvas {
  height: 400px;
  width: 1100px;
}

.button {
  justify-content: center;
}

.row-container {
  font-size: 40px;
  flex-direction: column;
  justify-content: center;
  margin-right: 4%;
}

.mainText {
  justify-content: center;
}

.button button {
  font-family: "Nunito", sans-serif;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0px 30px rgb(56, 56, 56);
  box-sizing: border-box;
  height: 70px;
  width: 200px;
  background-color: rgb(31, 31, 31);
  color: white;
  cursor: pointer;
  transition: background-color, 100ms ease-in;
}

.button button:hover { 
  box-shadow: 0 5px 8px rgba(31, 31, 31);
}

.button button:active {
  background-color: rgb(58, 58, 58);
  outline: none;
}

.secondarytext {
  justify-content: center;
}

.secondarytext p {
  font-size: 60%;
  margin-bottom: 30px;
}

.mainImage {
  margin-top: 50px;
}

.mainImage img {
  width: 876px;
  height: 876px;
}


/* Media query per dispositivi con larghezza massima di 600px */
@media (max-width: 900px) {
  body {
    min-height: 100vh;
    min-width: 100%;
    justify-content: center;
  }

  .canvas {
    margin-left: 0px;
  }

  .canvas canvas {
    height: 105px;
    width: 300px;
  }

  .text-container {
    text-align: center;
    align-items: center;
    font-size: 80%;
    width: 100%;
  }

  .input-container {
    flex-direction: column;
    margin-left: 30px;
  }

  .input-container input {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .container {
    margin-top: 10%;
    display: flex;
    flex-direction: column; /* Inverte l'ordine dei divisori */
    justify-content: center;
  }

  .row-container {
    text-align: center;
    align-items: center;
    font-size: 80%;
    width: 100%;
  }

  .button button {
    height: 50px;
  }
  
  .mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainImage img {
    height: 100%;
    min-width: 30vh;
  }
}
